body,html {background-color: #f7f7f9;}

.wrapper {
	background-color: #fff;
	margin: 0 auto;

	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.5)
}

.block {padding: 10px}

.sep {border-bottom: 1px solid #cccccc;}
.separator {padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #dddddd;margin-left: -10px;margin-right: -10px;padding-left: 10px;padding-right: 10px;}
.ml-15 {margin-left: 15px;}
.mb-25 {margin-bottom: 25px;}
.tab-content {padding: 10px;}
.tab-content.categories {padding-left: 0;padding-right: 0;border-width: 0 1px 1px; border-style: solid; border-color: #dddddd;border-radius: 0 0 4px 4px}
.w100p {width: 100%}
.nav.nav-tabs .form-group {margin-bottom: 0;}
.nav-tabs>li.add-new-cat {float: right;margin-right: -5px;}

.link-action select.form-control {font-size: 11px;}

.cat-controls {padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #dddddd;margin-left: -10px;margin-right: -10px;padding-left: 10px;padding-right: 10px;}
.cat-controls .create-new {margin-right: -25px;}

.tpl-warn {text-transform: uppercase;}
.part-3 .form-group .row {margin-bottom: 15px;}
.part-3 .form-group .row:last-child {margin-bottom: 0px;}
.part-3 .pull-left.form-group .row {margin-left: 0;margin-right: 0;}

.categories-content {position: relative;}
.categories-content p.tip {margin-right: 100px;}
.categories-content .delete {position: absolute;right: 0px; top: 0px;font-size: 12px;font-weight: 700;line-height: 1;text-shadow: 0 1px 0 #fff;cursor: pointer;}

.templates-accordion {margin-bottom: 0;}
.templates-accordion a.panel-title {display: block;cursor: pointer;text-decoration: none;color: inherit;}
.templates-accordion a.panel-title:hover {text-decoration: none;color: inherit;}
.controls a {cursor: pointer;}

.templates-accordion .panel-heading {padding:0;}
.templates-accordion .panel-heading a {padding: 10px 15px}

.ip-ranges-wrapper {padding: 0 10px;}
.ip-ranges-wrapper .nav-tabs {border-bottom-color: transparent;padding-right: 0;}
.ip-ranges-wrapper .nav-tabs > li {float: none;margin-bottom: 1px;}
.ip-ranges-wrapper .nav-tabs > li > a {border: 1px solid #ddd;border-radius: 4px 0 0 4px;border-right-color: transparent;margin-right: 0;}
.ip-ranges-wrapper .nav-tabs > li.active > a {background-color: #337ab7;color: #ffffff; border-color: #337ab7;}
.ip-ranges-wrapper .ip-ranges {border: 1px solid #dddddd; border-radius: 0 4px 4px; float: right;}
.ip-ranges-wrapper .ip-ranges .form-group {/* padding: 0 15px;margin: 0; */}
.ip-ranges-wrapper .tab-content>.active {min-height: 110px}

.scheduler .diff {font-size: 10px;}

@media (min-width: 768px) {
	.acc-name .use-id {margin-left: 15px;}
}

@media (min-width: 1200px) {
	.nav-tabs>li.add-new-cat {float: right;margin-right: -25px;}
}